extends layout

block content
  .container
    form.form-group.username-form(action='')
      label Name
      input.form-control(type='text')
      input.btn(type='submit', value='Join')

    section#ui.ui
      h1#username Bouncer
      img(src='/images/bomb.png').js-bomb.bomb



block scripts
  script(src='js/client.js')