extends layout

block content
  h1= title
  //- Username entry form
  form.form-group.username-form(action='')
    label Username
    input.form-control(type='text')
    input.btn.btn-primary(type='submit', value='Join')

  section#ui.ui
    table.table.table-striped
      thead
        tr
          th Name
          th Location
          th Stress
      tbody
        tr
          td#username Matt
          td
            .location
          td.js-stress-indicator OK

    ol#weather.weather(data-stress='ok')

block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
  script(src='js/client.js')
  script(src='js/weather.js')