doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1', name='viewport')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block styles
  body
    block content

    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')

    block scripts