extends layout

block content
  h1= title

  input(id='bomb-start', value='Start Demo', type='submit')
  #canvas-container

block scripts
  script(src='js/lib/matter-0.8.0.js')
  script(src='js/bomb.js')