extends layout

block content
  .container
    h1= title
    button.btn Go!
    section.row
      table#bouncers.table
        thead
          tr
            th Name
            th Ball
        tbody

block scripts
  script(src='js/scoreboard.js')
