extends layout

block content
  h1= title

  section.row
    table#crewmembers.table.table-striped
      thead
        tr
          th Name
          th Status
          th Controls
      tbody
        tr
          td.js-crew-member Crew Member Name
          td Current status here
          td
            .btn-group
              button.btn.btn-default(type='button', data-stress='none') None
              button.btn.btn-default(type='button', data-stress='moderate') Moderate
              button.btn.btn-default(type='button', data-stress='severe') Severe

block scripts
  script(src='js/server.js')
