extends layout

block content
  .container
    h1= title
    section.row
      table#crewmembers.table
        thead
          tr
            th Name
            th Stress Level
            th Controls
        tbody

block scripts
  script(src='js/server.js')
