/* Hide UI initially when using username entry form
.ui {
  display: none;
}
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.weather {
  padding: 0;
  margin: 0;
  color: #ffffff; }

.weather__item {
  background: #1b8fb4;
  border: 0.5rem solid #ffffff;
  display: inline-block;
  text-align: center;
  width: 20%; }
  .weather__item img {
    width: 100%; }

.weather__item--simple {
  width: 100%; }
